<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noisy Monitory</title>
    <link rel="stylesheet" href="../static/main.css" />
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <a href="" class="image">
          <img
            src="../static/images/logo_normal_maior.png"
            alt="Logo Noisy Monitory"
          />
        </a>
        <nav>
          <a href="">Início</a>
          <a href="">Sobre</a>
          <a href="">Vantagens</a>
          <a href="">Solução</a>
          <a href="">Quem Somos</a>
          <a href="">Contato</a>
        </nav>
        <a class="cadastro">Cadastro</a>
      </div>
    </div>

    <div class="sec2">
      <div class="texto">
        <h1>PLATAFORMA DE MONITORAMENTO DE RUÍDOS PARA FINS ACADÊMICOS</h1>
        <a href="">Conheça o projeto</a>
      </div>
      <img src="../static/images/img_tmp.jpg" alt="" />
    </div>
  </body>
</html>
