<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noisy Monitory</title>
    <link rel="stylesheet" href="../static/main2.css" />
  </head>
  <body>
    <span id="inicio"></span>
    <div class="main">
      <div class="navbar">
        <a href="" class="image">
          <img
            src="../static/images/logo_normal_maior.png"
            alt="Logo Noisy Monitory"
          />
        </a>
        <nav>
          <a href="#inicio">Início</a>
          <a href="#sobre">Sobre</a>
          <a href="#vantagens">Vantagens</a>
          <a href="#solução">Solução</a>
          <a href="#quem-somos">Quem Somos</a>
          <a href="#contato">Contato</a>
        </nav>
        <a class="cadastro">Cadastro</a>
      </div>
    </div>

    <div class="sec2">
      <div class="texto">
        <h1>PLATAFORMA DE MONITORAMENTO DE RUÍDOS PARA FINS ACADÊMICOS</h1>
        <a href="#sobre">Conheça o projeto</a>
      </div>
      <img src="../static/images/img_tmp.jpg" alt="" />
    </div>
    <section class="full-screen" id="sobre">
      <img
        src="../static/images/salaDeAula-section-sobre.jpg"
        alt="imagem de uma sala de aula"
      />
      <div id="sec-sobre-descrição">
        <h1>nossa proposta!</h1>
        <p>
          Na Noisy Monitory,
          <span
            >estamos empenhados em criar ambientes escolares mais tranquilos e
            propícios ao aprendizado, oferecendo soluções inovadoras para o
            controle de ruídos</span
          >. Desde a nossa fundação, temos trabalhado incansavelmente para
          desenvolver tecnologias e estratégias que reduzam os níveis de ruído
          em salas de aula, corredores e áreas comuns, garantindo assim um
          ambiente mais focado e produtivo para alunos e professores.
        </p>
        <a href="#vantagens"> Veja Mais!</a>
      </div>
    </section>
    <section class="full-screen" id="vantagens">
      <h1>vantagens</h1>
    </section>
    <section class="full-screen" id="solução"></section>
    <section class="full-screen" id="quem-somos"></section>
    <section class="full-screen" id="contato"></section>
  </body>
</html>
