<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noisy Monitory</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link
      rel="shortcut icon"
      href="../static/images/logo3.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <img
          src="../static/images/logo_normal_maior.png"
          alt="Logo Noisy Monitory"
        />

        <nav>
          <span onclick="descer('sec2')">Início</span>
          <span onclick="descer('proposta')">Sobre</span>
          <span onclick="descer('vantagens')">Vantagens</span>
          <span onclick="descer('solucao')">Solução</span>
          <span onclick="descer('somos')">Quem Somos</span>
        </nav>
        <button onclick="descer('contato')" class="cadastro">Contato</button>
      </div>
    </div>

    <div id="sec2">
      <div class="texto">
        <h1>
          PLATAFORMA DE <br />MONITORAMENTO DE RUÍDOS <br />PARA FINS ACADÊMICOS
        </h1>
        <button onclick="descer('proposta')">Conheça o projeto</button>
      </div>
      <img src="../static/images/tt1.png" alt="" />
    </div>

    <div id="proposta">
      <div class="cadeiras">
        <img src="../static/images/sala_de_aula.jpg" alt="" />
      </div>
      <div class="texto_proposta">
        <h1>NOSSA PROPOSTA</h1>
        <p>
          Nosso foco é auxiliar as instituições de ensino a fazer uma melhor
          administração dos ruídos gerados em sala de aula, com o intuito de
          minimizar o desconforto que esses ruídos geram em alunos com algum
          tipo de sensibilidade auditiva.
          <br />
          <br />
          Nossa plataforma gera relatórios detalhados sobre os ruídos emitidos
          em determinada aula, assim os gestores poderão analisar e tomar alguma
          iniciativa com base nos dados gerados por nossa plataforma.
        </p>
        <button onclick="descer('vantagens')">Veja mais</button>
      </div>
    </div>

    <div id="vantagens">
      <h1>VANTAGENS</h1>
      <div class="todas_vantagens">
        <div>
          <img src="../static/images/relatorio2.png" alt="" />
          <h3>VISÃO DETALHADA</h3>
          <p>
            Nossa plataforma proporciona uma vista detalhada e personalizada de
            todas as informações necessárias para uma melhor administração.
          </p>
        </div>
        <div>
          <img src="../static/images/ensino-superior2.png" alt="" />
          <h3>MELHORIA DO AMBIENTE ESCOLAR</h3>
          <p>
            Com o auxílio da nossa plataforma, as instituições poderão tomar
            medidas para melhorar o ensino e aprendizagem dos alunos.
          </p>
        </div>
        <div>
          <img src="../static/images/acessibilidade2.png" alt="" />
          <h3>MAIOR ACESSIBILIDADE</h3>
          <p>
            Os alunos com sensibilidades auditivas poderão ter um melhor
            aprendizado em sala de aula.
          </p>
        </div>
        <div>
          <img src="../static/images/risco2.png" alt="" />
          <h3>MAIOR CONTROLE</h3>
          <p>
            Os gestores terão um controle total das salas desejadas, podendo
            saber, por exemplo, qual a média de ruídos emitidos em determinada
            aula, além das demais funcionalidades presentes na plataforma.
          </p>
        </div>
      </div>
      <button onclick="descer('solucao')">Veja mais</button>
    </div>

    <div id="solucao">
      <h1>SOLUÇÃO</h1>
      <div class="container">
        <div class="block">
          <img src="../static/images/escola4p.jpg" alt="" />
          <div class="solucao_texto">
            <h3>PARA QUEM É INDICADO?</h3>
            <p>
              Nossa plataforma é indicada principalmente para instituições de
              ensino, mas nada impede a utilização em outros meios, como
              ambientes de colaboração em equipe, empresas, indústrias, entre
              outros locais que necessitem de alguma gestão dos ruídos
              ambientes.
            </p>
          </div>
        </div>
        <div class="block">
          <img src="../static/images/r1.jpg" alt="" />
          <div class="solucao_texto">
            <h3>COMO FAREMOS ISSO?</h3>
            <p>
              Todas as funcionalidades estão concentradas em nossa plataforma,
              nosso foco está na fácil usabilidade e responsividade para melhor
              adequação da tecnologia no ambiente escolar, podendo ser utilizada
              por computadores e smartphones, além de termos sempre um
              desenvolvedor ativo para qualquer dúvida ou melhoria necessária.
            </p>
          </div>
        </div>
        <div class="block">
          <img src="../static/images/celular2.jpg" alt="" />
          <div class="solucao_texto">
            <h3>QUAIS OS MATERIAIS NECESSÁRIOS PARA COMEÇAR?</h3>
            <p>
              Para a utilização é necessário apenas um computador ou smartphone,
              pois a plataforma usará como fonte de áudio o próprio microfone do
              dispositivo, assim, com essa captação, além da possibilidade de
              monitoramento em tempo real, a plataforma poderá gerar e armazenar
              um relatório detalhado ao final da aula, tudo personalizado
              conforme a necessidade do gestor.
            </p>
          </div>
        </div>
      </div>
      <button onclick="descer('somos')">Veja mais</button>
    </div>

    <div id="somos">
      <h1>QUEM SOMOS</h1>
      <p>
        O projeto Noisy Monitory surgiu primeiramente como um simples aparelho
        de monitoramento de ruídos, porém, após a junção do nosso grupo de
        amigos, pensamos como utilizar nossa ideia para auxiliar as instituições
        de ensino.
      </p>
      <p class="bold">
        Pensando nisso, surgiu a plataforma Noisy Monitory, uma plataforma
        completa dedicada a auxiliar as instituições de ensino a monitorar de
        forma inteligente os ruídos emitidos em sala de aula.
      </p>
      <p>
        Além do nosso grupo, nossa ideia só se tornou possível com o apoio de
        programas voltados para o empreendedorismo e o ambiente de inovação do
        Estado da Paraíba.
      </p>
      <p class="bold">
        Somos quatro amigos, apaixonados por tecnologia, inovação e educação.
        Acreditamos no poder transformador que a educação possui.
      </p>
      <button onclick="descer('contato')">Fale conosco</button>
    </div>

    <div id="contato">
      <h1>CONTATO</h1>
      <div class="form">
        <label for="">
          <span>Nome</span><input type="text" autocomplete="off" />
        </label>
        <label for="">
          <span>Cargo</span><input type="text" autocomplete="off" />
        </label>
        <label for="">
          <span>E-mail</span><input type="text" autocomplete="off" />
        </label>
        <label for="">
          <span>Telefone</span
          ><input type="text" id="telefone" autocomplete="off" />
        </label>
      </div>
      <button>ENVIAR</button>
    </div>

    <div class="email">
      <h4>noysimonitory@outlook.com</h4>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
      const descer = (div) => {
        var myDiv = document.getElementById(div);
        var offsetTop = myDiv.offsetTop;
        window.scrollTo({
          top: offsetTop - 96,
          behavior: "smooth",
        });
      };

      $("#telefone").mask("(00) 0 0000-0000");
    </script>
  </body>
</html>
