<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noisy Monitory</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link
      rel="shortcut icon"
      href="../static/images/n.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <img
          src="../static/images/logo_normal_maior.png"
          alt="Logo Noisy Monitory"
        />

        <nav>
          <span onclick="descer('sec2')">Início</span>
          <span onclick="descer('proposta')">Sobre</span>
          <span onclick="descer('vantagens')">Vantagens</span>
          <span onclick="descer('solucao')">Solução</span>
          <span onclick="descer('somos')">Quem Somos</span>
          <span onclick="descer('contato')">Contato</span>
        </nav>
        <button class="cadastro">Cadastro</button>
      </div>
    </div>

    <div id="sec2">
      <div class="texto">
        <h1>
          PLATAFORMA DE <br />MONITORAMENTO DE RUÍDOS <br />PARA FINS ACADÊMICOS
        </h1>
        <button onclick="descer('proposta')">Conheça o projeto</button>
      </div>
      <img src="../static/images/tt1.png" alt="" />
    </div>

    <div id="proposta">
      <div class="cadeiras">
        <img src="../static/images/sala_de_aula.jpg" alt="" />
      </div>
      <div class="texto_proposta">
        <h1>NOSSA PROPOSTA</h1>
        <p>
          Nosso foco é auxiliar as instituições de ensino a fazer uma melhor
          administração dos ruídos gerados em sala de aula, com o intuito de
          minimizar o desconforto que esses ruídos geram em alunos com algum
          tipo de sensibilidade auditiva.
          <br />
          <br />
          Nossa plataforma gera relatórios detalhados sobre os ruídos emitidos
          em determinada aula, assim os gestores poderão analisar e tomar alguma
          iniciativa com base nos dados gerados por nossa plataforma.
        </p>

        <!-- <p>
          O noisy monitory é uma plataforma de monitoramento de ruídos focado no
          âmbito acadêmico, trabalhamos com geração de relatórios para ajudar na
          gestão de barulhos emitidos em salas de aulas, assim melhorando o
          aprendizado dos alunos, principalmente alunos com algum problema de
          sensibilidade.
          <br />
          <br />
          Nosso software foi desenvolvido por alunos de ensino superior, assim
          vivenciando de fato como funciona uma sala de aula e como os ruídos
          podem prejudicar um aluno sensível.
        </p> -->
        <button onclick="descer('vantagens')">Veja mais</button>
      </div>
    </div>

    <div id="vantagens">
      <h1>VANTAGENS</h1>
      <div class="todas_vantagens">
        <div>
          <img src="../static/images/relatorio.png" alt="" />
          <h3>VISÃO DETALHADA</h3>
          <p>
            Nossa plataforma proporciona uma vista detalhada e personalizada de
            todas as informações necessárias para uma melhor administração.
          </p>
        </div>
        <div>
          <img src="../static/images/ensino-superior.png" alt="" />
          <h3>MELHORIA DO AMBIENTE ESCOLAR</h3>
          <p>
            Com o auxílio da nossa plataforma, as instituições poderão tomar
            medidas para melhorar o ensino e aprendizagem dos alunos.
          </p>
        </div>
        <div>
          <img src="../static/images/acessibilidade.png" alt="" />
          <h3>MAIOR ACESSIBILIDADE</h3>
          <p>
            Os alunos com sensibilidades auditivas poderão ter um melhor
            aprendizado em sala de aula.
          </p>
        </div>
        <div>
          <img src="../static/images/relatorio.png" alt="" />
          <h3>EXEMPLO</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptate sint quidem similique eligendi asperiores eaque quibusdam inventore optio voluptatibus repellendus suscipit, qui id neque pariatur quisquam, debitis placeat! Quidem?</p>
        </div>
      </div>
      <button onclick="descer('solucao')">Veja mais</button>
    </div>

    <div id="solucao">
      <h1>SOLUÇÃO</h1>
      <div class="container">
        <div class="block">
          <img src="../static/images/salaDeAula-section-sobre.jpg" alt="" />
          <div class="solucao_texto">
            <h3>PARA QUEM É INDICADO?</h3>
            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur adipisci modi illo, quod ipsam est aperiam tenetur quos accusantium asperiores doloremque eos ea expedita eius quibusdam voluptatem enim sint accusamus.
            </p>
          </div>
        </div>
        <div class="block">
          <img src="../static/images/salaDeAula-section-sobre.jpg" alt="" />
          <div class="solucao_texto">
            <h3>COMO FAREMOS ISSO?</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore unde assumenda dolorum quod veritatis laborum repellat mollitia, asperiores laboriosam, quibusdam, odit molestias dignissimos nam! Earum unde quam ipsam dolores repudiandae.
            </p>
          </div>
        </div>
        <div class="block">
          <img src="../static/images/salaDeAula-section-sobre.jpg" alt="" />
          <div class="solucao_texto">
            <h3>PARA QUEM É INDICADO?</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui ex vel quae cupiditate dolores necessitatibus perspiciatis? Laboriosam eveniet, fugiat quaerat reprehenderit nisi fuga modi neque. Blanditiis consectetur mollitia culpa similique?
            </p>
          </div>
        </div>
      </div>
      <button onclick="descer('somos')">Veja mais</button>
    </div>

    <div id="somos">
      <h1>QUEM SOMOS</h1>
      <p>
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus tempore voluptatem quibusdam quod repellendus quisquam quos eaque beatae natus corrupti autem, mollitia neque, omnis, dolor sequi consectetur perspiciatis amet?
      <p class="bold">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam tempora accusantium fugit inventore voluptas molestiae unde delectus dolorem. Consectetur pariatur eius ratione suscipit soluta omnis autem, reprehenderit minus animi asperiores!
      </p>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos temporibus nulla, itaque vitae delectus distinctio minus cumque quam molestiae. Enim minima ipsa autem delectus earum. Rerum sed nulla beatae tempore.
      </p>
      <p class="bold">
        Somos quatro amigos, apaixonados por tecnologia, inovação e educação.
        Acreditamos no poder transformador que a educação possui.
      </p>
      <button onclick="descer('contato')">Fale conosco</button>
    </div>

    <div id="contato">
      <h1>CONTATO</h1>
      <div class="form">
        <form method="POST">
          <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" id="nome" name="nome" required>
          </div>
          <div class="form-group">
              <label for="email">E-mail</label>
              <input type="email" id="email" name="email" required>
          </div>
          <div class="form-group">
              <label for="telefone">Número de telefone</label>
              <input type="tel" id="telefone" name="telefone" required>
          </div>
          <div class="form-group">
              <label for="cargo">Cargo na escola</label>
              <select id="cargo" name="cargo" required>
                  <option value="">Selecione um cargo</option>
                  <option value="diretor">Diretor</option>
                  <option value="vice-diretor">Vice-Diretor</option>
                  <option value="coordenador">Coordenador</option>
                  <option value="professor">Professor</option>
                  <option value="assistente-administrativo">Assistente Administrativo</option>
                  <option value="orientador-educacional">Orientador Educacional</option>
              </select>
          </div>
          
          <div class="form-group">
              <button type="submit">Enviar</button>
          </div>
      </form>
      </div>
    </div>

    <div class="email">
      <h4>noysimonitory@outlook.com</h4>
    </div>
    <script>
      const descer = (div) => {
        var myDiv = document.getElementById(div);
        var offsetTop = myDiv.offsetTop;
        window.scrollTo({
          top: offsetTop - 96,
          behavior: "smooth",
        });
      };
    </script>
  </body>
</html>
